
# Images
public/images/uploaded/**/*
public/images/uploaded/*
public/images/uploaded/

#configuration file
config/config.js

# Database folder
db/**/*
db/*
db/

# External Modules
node_modules/**/*
node_modules/*
node_modules/

# Self Signed Certificates
certs/*
certs/
