.jumbotron	{
	margin-top: 100px;
}
.thumbnail{
  margin: 10px 25px;
}
.thumbnail img{
  height: 125px;
  width: 200px;
}
.row{
  border-bottom: 1px solid skyblue;
}
.progress{
  display: none;
}
.modal-lg{
  width: 80%;
  //height: 80%;
}
.modal img{
  //position: absolute;
  //margin: auto;
  //right: 0px;
  //left: 0px;
  //top: 0px;
  //bottom: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#temp-box{
  display: none;
}

